/* body */
body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0; 
    flex-direction: column;
    background-color:#FFE7F8;
    color: #DC7AC0;
}
h1 {
    font-family: "Emblema One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-top: 2px;
}
h2 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 0;
}
